/bin/
*.bak
.DS_Store
/build/
*.class
/target/
/target17/
*.log
/src/test/*.*
/.idea/
/.settings/
/.project
/.factorypath
/.classpath
/.vscode
ewa_conf.xml
ewa_conf_console.xml
*.lck
*.iml